.h3{
    text-align: center;
}

.paragraf{
    color: blueviolet;
    background-color: yellow;
    text-align: center;
    
}




.me{
    color: darkgoldenrod;

}

.goa{
    color: brown;
    background-color: darkolivegreen;
}