#red {
    color: rgb(255, 0, 0); /* red */
    background-color: #00ff00;
}

#green {
    color: rgb(0, 128, 0); /* green */
    background-color: #0000ff
}

#blue {
    color: rgb(0, 0, 255); /* blue */
    background-color: #ffff00
}

#yellow {
    color: rgb(255, 255, 0); /* yellow */
    background-color: #ff00ff
}

#purple {
    color: rgb(128, 0, 128); /* pink */
    background-color: #00ffff
}

#orange {
    color: rgb(255, 165, 0); /* orange */
    background-color: #ff0000
}

#white {
    color:#ffffff
}

